html, body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
    color: #67C0B6;
    font-family: 'Nunito', sans-serif;
    line-height: 1.5;
}

h1, h2, h3, p {
    letter-spacing: .1rem;
    font-family: 'Nunito', sans-serif;
    line-height: 1.2;
}

h1 {
    font-size: 3rem;
    margin-left: 0.5%;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1rem;
    margin-left: 3%;
}
p {
    font-size: 0.75rem;
}
li {
    color: #696969;
}

footer {
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.header_ben {
    color: #ffffff;
    background-color: #67C0B6;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    box-shadow: 0rem 0rem 0.5rem #2e2e2e;
    z-index: 1;
}

main {
    display: flex;
    align-items: center;
}



.img_beans{
    margin-top: -150%;
    width: 140%;
    margin-left: 2%;
}

.img_bert{
    margin-top: -150%;
    width: 140%;
    margin-left: 186%;
}

.logo{
    margin-left: 2%;
}

.beans{
    margin-left: 10%;
}

.container {
    margin-left: 22.5%;
}

.potatis {
    margin-left: -10%;
    width: 140%;
    margin-top: 5%;
}


