html, body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
    color: #67C0B6;
    font-family: 'Nunito', sans-serif;
    line-height: 1.5;
}

h1, h2, h3, p {
    letter-spacing: .1rem;
    font-family: 'Nunito', sans-serif;
    line-height: 1.2;
}

h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1rem;
}
p {
    font-size: 0.75rem;
}

footer {
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.container {
    position: relative;
    max-width: 48rem;
    padding-right: 1rem;
    padding-left: 1rem;
    left: 30rem;
}

.header_ben {
    color: #ffffff;
    background-color: #67C0B6;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

main {
    display: flex;
}

.img_bot{
    width: 10rem;
    nav-right: 10rem;
}








